django>=2.2.9,<3.0
psycopg2-binary>=2.7.5
python-dotenv>=0.9.1
cert-mailer>=0.0.4
cert_tools>=3.0.0a2
django-bootstrap4>=0.0.8
django-bootstrap-datepicker-plus>=3.0.5
django-cas-ng>=3.6.0
django-s3-storage>=0.12.5
sentry-sdk>=0.11.2
requests==2.20.0
