{% extends 'header.html' %}
{% block body_block %}
    <h1>Manage Recipients - Approve</h1>
    <h3>{{ issuance.credential.title }}</h3>
    <h4>{{ issuance.date_issue }}</h4>
    <p>The following have been invited to qualify for this credential. After they have completed your credential's requirments, select "Approve" to initiate an issuance to that person.</p>
    <form method="post">
    {% csrf_token %}
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Public address</th>
            <th scope="col">Approve</th>
        </tr>
    </thead>
    <tbody>
    {% for pi in issuance.personissuances_set.all %}
        <tr>
            <th scope="row">{{ pi.person.last_name }}, {{ pi.person.first_name }}</th>
            <td>{{ pi.person.email }}</td>
            <td>
                {% if pi.person.public_address %}
                    <span class="badge badge-pill badge-success">Has public address</span>
                {% endif %}
            </td>
            <td>
                <input type="checkbox" name="people_to_approve" value="{{ pi.id }}" {% if pi.is_approved %}checked disabled{% endif %} />
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    <a class="btn btn-secondary" href="{% url 'credentials/manage' %}">
        Cancel
    </a>
    </form>
{% endblock %}
