{% extends 'header.html' %}
{% block body_block %}
    <h1>Manage Recipients - Completed</h1>
    <h3>{{ issuance.credential.title }}</h3>
    <h4>{{ issuance.date_issue }}</h4>
    <p>The following have been issued your credential. Those with a "Pending" status will be notified via email during the next scheduled batch issuance.</p>

    <table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Approval Date</th>
            <th scope="col">Issue Date</th>
        </tr>
    </thead>
    <tbody>
    {% for pi in approved_personissuances %}
        <tr>
            <th scope="row">{{ pi.person.last_name }}, {{ pi.person.first_name }}</th>
            <td>{{ pi.person.email }}</td>
            {% if pi.is_issued %}
                <td>Complete</td>
            {% else %}
                <td>Pending</td>
            {% endif %}
            <td>{{ pi.approved_at }}</td>
            {% if pi.is_issued %}
                <td>{{ pi.issued_at }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
