{% extends 'header.html' %}
{% block body_block %}
    <h1>Manage Recipients - Remind</h1>
    <h3>{{ issuance.credential.title }}</h3>
    <h4>{{ issuance.date_issue }}</h4>
    <p>
        The following have been invited to qualify for this credential, but they
        have not yet added Georgia Tech as an issuer in their Blockcerts
        application. Select "Remind" to send a reminder email with instructions.
    </p>
    <form method="post" novalidate>
    {% csrf_token %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Last reminded</th>
        <th scope="col">Remind</th>
        </tr>
    </thead>
    <tbody>
    {% for pi in issuance.personissuances_set.all %}
        {% if not pi.person.public_address %}
            <tr>
                <th scope="row">{{ pi.person.last_name }}, {{ pi.person.first_name }}</th>
                <td>{{ pi.person.email }}</td>
                <td>?</td>
                <td>{{ pi.last_reminded_at }}</td>
                <td>
                    <input type="checkbox" name="people_to_remind" value="{{ pi.person.pk }}" />
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    </table>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    <a class="btn btn-secondary" href="{% url 'recipients/manage' %}">
        Cancel
    </a>
    </form>

{% endblock %}
