certifi==2018.10.15
chardet==3.0.4
ConfigArgParse==0.13.0
docopt==0.4.0
idna==2.7
mandrill==1.0.57
Pillow==5.3.0
python-http-client==3.1.0
qrcode==6.0
requests==2.20.0
sendgrid==5.6.0
six==1.11.0
urllib3==1.24
