{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}
{% block body_block %}
    <div class="container">
        {% if person_added %}
        <p class="pt-2">Thanks for registering!</p>
        {% else %}
        <div class="row pt-2">
            <div class='col-sm-6'>
                <form id="person-form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
