{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}
{% block body_block %}
    <div class="container">
        {% if person_added %}
        <p class="pt-2">Thank you for providing your information. {{ INSTITUTION_NAME }} will send you an email with instructions on how to get started.</p>
        {% else %}
        <div class="row pt-2">
            <div class='col-sm-6'>
                <p class="pt-2">{{ INSTITUTION_NAME }} would like to recognize your achievement with a <a href="https://blockcerts.org">Blockcerts</a>
                digital credential. Complete the form below to receive an email with instructions on how to get started.</p>
                <form id="person-form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
