{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}
{% block body_block %}
    {% if person_added %}
        <p>Thanks for registering!</p>
    {% else %}
        <div class="row">
            <div class='col-sm-6'>
                <form id="person-form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
