{% extends 'header.html' %}
{% block body_block %}
    <h1 data-test-id="app-credential-manage-title">Manage Credentials</h1>
    {% for credential in object_list %}
        <h3><a href={% url 'manage_credential' credential.pk %}>{{ credential.title }}</a></h3>
        <ul>
        {% for issuance in credential.issuance_set.all %}
            <li>
                {{ issuance }} |
                <a
                    class="btn btn-link"
                    href="{% url 'recipients/invite' issuance.pk %}">
                    Invite
                </a> |
                <a
                    class="btn btn-link {% if not issuance.people.exists %}disabled{% endif %}"
                    href="{% url 'recipients/approve' issuance.pk %}">
                    Approve
                </a> |
                <a
                    class="btn btn-link {% if issuance.unready_count == 0 %}disabled{% endif %}"
                    href="{% url 'recipients/remind' issuance.pk %}">
                    Remind
                </a> |
                <a
                    class="btn btn-link {% if issuance.issued_count == 0 %}disabled{% endif %}"
                    href="{% url 'recipients/completed' issuance.pk %}">
                    Completed
                </a>
            </li>
        {% endfor %}
        </ul>
    {% empty %}
        <p>No credentials to manage.</p>
    {% endfor %}
{% endblock %}
