{% extends 'header.html' %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{% block body_block %}

    <h1>Issuances</h1>
    {% if credential_list %}
        {% for credential in credential_list %}
            <h2>{{ credential.title }}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Signup URL</th>
                        <th scope="col">Registered</th>
                        <th scope="col">Ready</th>
                        <th scope="col">Issued</th>
                    </tr>
                </thead>
                <tbody>
                    {% for issuance in credential.issuance_set.all %}
                        <tr>
                            <td>{{ issuance.date_issue }}</td>
                            <td>
                                <a href="{{ request.scheme }}://{{ request.get_host }}/{{ issuance.url_id }}/add_person">
                                    {{ request.scheme }}://{{ request.get_host }}/{{ issuance.url_id }}/add_person
                                </a>
                            </td>
                            <td class="table-danger">{{ issuance.unready_count }}</td>
                            <td class="table-warning">{{ issuance.ready_count }}</td>
                            <td class="table-success">{{ issuance.issued_count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>There are no issuances.</p>
    {% endif %}
{% endblock %}
